@import "../../styles/utils";

.card {
  padding: $size4;
  border-radius: $size3;
  background-color: $white;
  box-shadow: $shadow1;
  transition: box-shadow .5s ease;

  &:hover {
    box-shadow: $shadow2;
  }
}