@import "../../styles/utils";

.card {
  width: $size19;

  &.horizontal {
    width: $size24;

    @include media-phone {
      width: $size19;
    }

    figure {
      display: flex;
      flex-direction: row;
      column-gap: $size7;

      @include media-phone {
        flex-direction: column;
        row-gap: $size3;
      }
    }

    .profile__picture__container {
      width: 100%;
      min-width: $size18;
      transition: all 500ms ease;

      &:hover {
        transform: rotate3d(4, -1, .125, .045turn);

        img {
          box-shadow: 0 3px 8px 8px rgb(0 0 0 / 0.2);
          filter: saturate(1);
        }
      }

      img {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        filter: saturate(.8);
        transition: all 500ms ease;
      }
    }

    figcaption {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: center;
      row-gap: $size7;
    }

    .profile__bio {
      flex: 0 0 100%;

      @include media-phone {
        margin-top: $size4;
        line-height: 1.3em;
      }
    }
  }

  &.vertical {
    figure {
      display: flex;
      flex-direction: column;
      row-gap: $size3;
    }

    .profile__bio {
      margin-top: $size4;
      line-height: 1.3em;
    }
  }
}

figcaption {
  display: flex;
  flex-direction: column;
  row-gap: $size4;
}

.profile__identity {
  font-family: $font-accent;
}

.profile__name {
  font-weight: 700;
}

.profile__title {
  font-weight: 500;
}

.profile__identity,
.profile__contact {
  display: flex;
  flex-direction: column;
  row-gap: $size1;
}

.profile__name,
.profile__email,
.profile__phone {
  color: $gray1;
}

.profile__email,
.profile__phone {
  display: flex;
  align-content: center;
  column-gap: $size2;
}

.profile__picture__container {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.profile__picture {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: $size3;
}