@import "../../styles/utils";

.progressbar {
  width: 100%;
  height: $size3;
  display: flex;
  align-items: center;
  justify-content: stretch;
  overflow: hidden;
  background-color: $gray4;
  border-radius: $size3;

  .progress {
    background: $blue;
    width: 10%;
    display: flex;
    justify-content: center;
    border-radius: inherit;
  }

  .progress__value {
    color: $white;
  }
}