@import "functions";

// * * * * * *
// Typography
// * * * * * *

// font-family
$font-default:  'Glory', sans-serif;
$font-accent:   'Jost', sans-serif;
$font-primary:  $font-accent;

// * * * *
// Colors
// * * * *
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$gray1: rgba(51, 51, 51, 1);
$gray2: rgba(79, 79, 79, 1);
$gray3: rgba(130, 130, 130, 1);
$gray4: rgba(196, 196, 196, 1);

$light: rgba(242, 242, 242, 1);
$blue:    rgba(47, 128, 237, 1);

// * * *
// Sizes
// * * *
$size1: 0.25em;     // 4px
$size2: 0.5em;      // 8px
$size3: 0.75em;     // 12px
$size4: 1em;        // 16px
$size5: 1.25em;     // 20px
$size6: 1.5em;      // 24px
$size7: 2em;        // 32px
$size8: 2.5em;      // 40px
$size9: 3em;        // 48px
$size10: 4em;       // 64px
$size11: 6em;       // 96px
$size12: 8em;       // 128px
$size13: 10em;      // 160px
$size14: 11em;      // 176px
$size15: 12em;      // 192px
$size16: 13em;      // 208px
$size17: 14em;      // 224px
$size18: 16em;      // 256px
$size19: 20em;      // 320px
$size20: 30em;      // 480px
$size21: 36em;      // 576px
$size22: 48em;      // 768px
$size23: 50em;      // 800px
$size24: 60em;      // 960px
$size25: 62em;      // 992px
$size26: 64em;      // 1024px
$size27: 70em;      // 1120px
$size28: 75em;      // 1200px
$size29: 80em;      // 1280px
$size30: 90em;      // 1440px
$size31: 100em;     // 1600px

// * * * *
// Shadow
// * * * *
$shadow1: 0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));

$shadow2: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));

// * * * *
// Border
// * * * *
$border: solid 1px $light;
$radius: $size3;